@import url("https://cdn.kernvalley.us/css/core-css/theme/default/index.css");
@import url("https://cdn.kernvalley.us/css/core-css/theme/properties.css");

:root {
	--accent-color-light: #06c167;
	--accent-color-dark: var(--accent-color-light);
	--button-primary-background-light: var(--accent-color-light);
	--button-primary-background-dark: var(--button-primary-background-light);
	--button-primary-hover-background-light: #0C9654;
	--button-primary-hover-background-dark: var(--button-primary-hover-background-light);
	--button-primary-active-background-light: #11673E;
	--button-primary-active-background-dark: var(--button-primary-active-background-light);
	--map-width: 100%;
	--header-height: 0;
}
